.presentation {
  height: auto;
  padding: 2rem 0 2rem 0;
  margin-bottom: 2rem;

  .presentation-content {
    @include pattern-flex(justify-content, space-between);
    margin-bottom: 1rem;

    .presentation-content-img {
      @extend %pattern-img-topic;
    }

    .presentation-content-text {
      @extend %pattern-text-topic;
    }
  }
}
